body{
    background-color: rgb(23, 22, 22);
}
.meni p{
    color: rgb(231, 224, 224);
    font-family: fantasy;
    font-size: xx-large;
}

.meni{
    background-color: rgb(53, 51, 51);
    display: flex;
    border-radius: 5px;
    height: fit-content;
}
.meni img{
    height: 6.4em;
    padding-right: 10px;
    border-radius: 5px;
}

.welcome{
    background-color: rgb(53, 51, 51);
    border-radius: 5px;
    padding: 5px;
    margin-top: 15px;
}
h1{
    color: rgb(231, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.welcome p{
    color: rgb(231, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
}
.welcome button{
    background-color: rgb(90, 158, 203);
    color: whitesmoke;
    font-family: fantasy;
    font-size: large;
    padding: 5px;
    border-radius: 5px;
    border: rgb(90, 158, 203);
    transition: background-color 0.2s ease;

}

.welcome button:hover{
    background-color: rgb(51, 111, 152);
    cursor: pointer;
}
header{
    position:sticky;
    top : 0;   
}

.profil{     flex: 1;     text-align: right; /* Align content to the right */ }

h2{
    color: rgb(231, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.search-bar {
    display: flex;
    align-items: center;
}

span{
    color: rgb(231, 224, 224);
    font-family: Arial, Helvetica, sans-serif;
}

.like, .dislike {
    display: inline-block;
    margin-right: 10px; /* Adjust as needed for spacing */
}

.like button {
    background-color: orange;
    color: white; /* Change text color to make it readable on the orange background */
}

/* Style the dislike button */
.dislike button {
    background-color: #3f51b5; /* Adjust the color code for the desired shade of blue */
    color: white; /* Change text color to make it readable on the blue background */
}   

.like button:hover{
    background-color: rgb(172, 116, 13);
}

.dislike button:hover{
    background-color: #28336e;
}